html {
    font-family: sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
}

body {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.card {
    padding: 0.75rem 1rem 0.25rem;
    text-align: left;
    overflow-wrap: break-word;
}

header {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    background-color: purple;
    color: white;
}

h1{
    margin: 0;
    padding: 0;
}

#root {
    flex-grow: 1;
}